
:root {
    --border-rd: .75rem;
    
    --color-primary-300: #298eb0;
    --color-primary-500: #00a5fd;
    --color-secondary: #f1e05a;
    --color-btn: #0c29a9;
    --color-white: #fff;
    --color-dark: #2c2c2c;
    --color-correct: #00db63;
    --color-error: #dd0000;
    
    --font-family: "JetBrains Mono", serif;
    
    --pd-ssm: 1rem;
    --pd-sm: 1.5rem;
    --pd-md: 2rem;
    --pd-lg: 2.5rem;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary-500);
    color: var(--color-secondary);
    font-family: var(--font-family);
}

h1, h2 {
    text-transform: uppercase;
}

.quiz-container {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: var(--pd-ssm);
    text-align: center;
}

.section-container {
    background-color: var(--color-primary-300);
    border-radius: .75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    /* max-width: 1080px; */
    gap: var(--pd-sm);
    padding: var(--pd-sm);
}

.introduction img {
    border-radius: 999px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    max-width: 150px;
    margin: 0 auto;
}

.introduction h1 {
    font-size: var(--pd-md);
}

.introduction p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--pd-sm);
}

.button {
    background-color: var(--color-btn);
    border: 2px solid transparent;
    border-radius: var(--border-rd);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: bold;
    padding: .75rem 1rem;
    text-transform: uppercase;
    transition: .2s;
    width: 180px;
}

.button:hover {
    border: 2px solid var(--color-secondary);
}

.help h2 {
    font-size: var(--pd-md);
}

.help p {
    color: var(--color-white);
    font-size: 1.125rem;
    line-height: 1.5;
}

.help p > strong {
    color: var(--color-secondary);
}

.help .button {
    margin: 0 auto;
}

.game .question {
    font-size: var(--pd-sm);
}

.answers-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pd-sm);
}

.answer {
    background-color: var(--color-btn);
    border: 2px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    border-radius: var(--border-rd);
    color: var(--color-white);
    font-size: 1.125rem;
    /* text-align: left; */
    padding: .75rem 1rem;
    cursor: pointer;
    transition: .2s;
}

.answer:disabled {
    cursor: not-allowed;
}

.answer:hover {
    border: 2px solid var(--color-secondary);
}

.habilities-container {
    display: flex;
    justify-content: space-around;
    gap: var(--pd-lg);
}

.hability {
    background-color: var(--color-dark);
    border: 2px solid transparent;
    font-size: 1.125rem;
    padding: .5rem var(--border-rd);
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-secondary);
}

.hability:hover {
    border: 2px solid var(--color-secondary);
}

.hability .material-icons {
    font-size: 28px;
}
  
.hability:disabled {
    background-color: var(--color-primary-300);
}

.hidden {
    display: none;
}

.correct {
    background-color: var(--color-correct);
}

.error {
    background-color: var(--color-error);
}

.centerButton {
    margin: 0 auto;
}

@media screen and (min-width: 481px) {
    .answer {
        text-align: left;
    }
}

@media screen and (min-width: 768px){
    .introduction h1,
    .help h2 {
        font-size: var(--pd-lg);
    }

    .introduction p,
    .help p {
        font-size: 1.25rem;
    }

    .answers-container {
        grid-template-columns: repeat(2, 2fr);
    }

    .habilities-container {
        justify-content: left;
    }
}